.about-us .container {
    padding-bottom: 94px;
}

.about-us__title {
    color: $title-text-color;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;
}

.about-us__list {
    display: flex;
    padding: 0;
    margin: 0;
}

.about-us__item {
    position: relative;
    width: 370px;
    &:not(:last-child) {
        margin-right: 30px;
    }
}


.about-us__description {
    position: absolute;
    left: 0;
    bottom: 0%;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 370px;
    height: 70px;
    margin-top: 0;
    margin-bottom: 0;

    color: $primary-white-color;
    background-color: rgba(47, 48, 58, 0.8);

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}