.features .container {
    padding-top: 94px;
    padding-bottom: 94px;
}

.features-list {
    display: flex;
}
.features-list__item {
    width: 270px;

    &:not(:last-child) {
        margin-right: 30px;
    }
}

.icon-background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: $secondary-background-color;
}

.features__icon{
    width: 70px;
    height: 70px;
}

.features__title {
    text-transform: uppercase;
    color: $title-text-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
}

.features__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    margin-top: 0;
    margin-bottom: 0;
}
