.features .container {
    padding-top: 60px;
    padding-bottom: 60px;
}

.features-list {
    // width: 450px;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
    }
}

.features-list__item {
    // width: 450px;
    &:not(:last-child) {
        margin-bottom: 30px;
    }

    @media screen and (min-width: 768px) {
        &:nth-last-child(-n + 2){
            margin-bottom: 0;
        }
        &:nth-child(2n + 1){
            margin-right: 30px;
        }
    }

    @media screen and (min-width: 1200px) {
    width: 270px;
        &:not(:last-child) {
            margin-right: 30px;
        }
    }
}

.icon-background {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 120px;
    margin-bottom: 30px;
    background-color: $secondary-background-color;
}

.features__icon{
    width: 70px;
    height: 70px;
}

.features__title {
    text-align: center;
    text-transform: uppercase;
    color: $title-text-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
}

.features__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    margin-top: 0;
    margin-bottom: 0;
}