.logo {
    color: $title-text-color;
    font-family: $logo-font;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 93px;
}

.accent {
    color: $accent-color;
}
