
    $primary-text-color: #757575;
    $title-text-color: #212121;
    $accent-color: #2196f3;
    $primary-white-color: #ffffff;
    $secondary-background-color: #f5f4fa;
    $hero-bgr-color: #2f303a;
    $icon-color: #afb1b8;
    
    $primary-font: Roboto, sans-serif;
    $logo-font: Raleway, sans-serif;

    
